@import url(https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap);
@import url(https://fonts.googleapis.com/css?family=Rubik:700&display=swap);


/* Flexbox that contains Connect 4 title, and START GAME button */
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Start game button div */
#start-button-container {
  padding-top: 40px;
}

/* Board Game represented as a table */
table {
    border-collapse: collapse;
    padding-left: 27px;
    padding-right: 28px;
    padding-top: 9px;
    display:block;
  }

  /* Board Game columns */
td {
    border: 0px solid rgba(26,98,240,255);
    width: 43.7px;
  }
  
    /* Board Game rows */
tr {
    background-color: rgba(26,98,240,255);
    height: 43.8px;
  }

    /* Board Game circles */
.circle {
    height: 30px;
    width: 30px;
    background-color:white;
    border-radius: 50%;
    padding: 5px;
    display: table;
    margin: auto;
  }

  /* Outter div that contains board game image, board game represented as a table and circles that lie in the table*/
#maincontent {
  font-family: "Rubik", sans-serif;
  text-align: center;
  padding-top: 30px;
  width:480px;
  height:400px;
  /* width: 60%;
  height: 320px; */
  display: none;
  margin: auto;
  background:rgb(248, 248, 248);
  border: solid black;
  border-color: black;
  border-width: 3px 3px 5px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
  /* transform: rotate(-2deg); */
}
/* Website Page*/
 body {
  background-image: url('images/StartGameBackground2.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
 }

/* Div that puts a board game image around the board game represented as a table */
.boardimage {
  background-image: url('images/Connect4boardborder.png');
  background-repeat: no-repeat;
  width: 361px;
  height: 304px;
  /* Center horizontally */
  margin: 0 auto;
 }

  /* Reset Button */
 #resetbutton {
  margin: 0 auto;
  display: none;
 }

 /* 3D Connect 4 text */
#name {
  padding-top: 40px;
  font-size: 90pt;
  font-family: 'Luckiest Guy', cursive;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow:   0px -6px 0 #212121,  
                 0px -6px 0 #212121,
                 0px  6px 0 #212121,
                 0px  6px 0 #212121,
                -6px  0px 0 #212121,  
                 6px  0px 0 #212121,
                -6px  0px 0 #212121,
                 6px  0px 0 #212121,
                -6px -6px 0 #212121,  
                 6px -6px 0 #212121,
                -6px  6px 0 #212121,
                 6px  6px 0 #212121,
                -6px  18px 0 #212121,
                 0px  18px 0 #212121,
                 6px  18px 0 #212121,
                 0 19px 1px rgba(0,0,0,.1),
                 0 0 6px rgba(0,0,0,.1),
                 0 6px 3px rgba(0,0,0,.3),
                 0 12px 6px rgba(0,0,0,.2),
                 0 18px 18px rgba(0,0,0,.25),
                 0 24px 24px rgba(0,0,0,.2),
                 0 36px 36px rgba(0,0,0,.15);
}


 /* 3D Start */
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
}
button.learn-more {
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.learn-more::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
button.learn-more:hover {
  background: #ffe9e9;
  transform: translate(0, 0.25em);
}
button.learn-more:hover::before {
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  transform: translate3d(0, 0.5em, -1em);
}
button.learn-more:active {
  background: #ffe9e9;
  transform: translate(0em, 0.75em);
}
button.learn-more:active::before {
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
}