

table {
    border-collapse: collapse;
    width: 360px;
    height: 305px;
  }
  
td {
    border: 0px solid rgba(26,98,240,255);
  }
  
tr {
    background-color: rgba(26,98,240,255);
    height: 25px;
  }

.circle {
    height: 40px;
    width: 40px;
    background-color:white;
    border-radius: 50%;
    padding: 5px;
    display: table;
    margin: auto;
  }

  #resetbutton {
    border-radius: 5%;
    background-color: #f44336;
    color: white;
    padding: 15px 32px;
    border: none;
  }

  #startbutton  {
    border-radius:5%;
    background-color: green;
    color: white;
    padding: 15px 32px;
    border: none;
  }

#maincontent {
  background: url(images/Connect4boardborder.png) no-repeat 0 100%;
  padding: 60px 60px 39px 30px;
  /* top right bottom left */
 }

 body {
   background-color: #f8f8f8;
   font-family: arial, sans-serif;
   text-align: center;
 }
